@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .masonry-2-col {
      column-count: 2;
      column-gap: 1.5em;
  }
  .break-inside {
      break-inside: avoid;
  }
}